body{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;

}

img{

    border-radius: 20px;
}

  @font-face {
        font-family: "Myth";
        src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
    }

    .topNav{
        overflow: hidden;

        
        
        width: 85%;
         height: 80px;
        
        
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       

        padding: 20px 40px;
        background-color: #ffffffa4;
        
        border: none;
        border-radius: 25pt;

        color: rgb(64, 64, 64);
        margin-left:5em;
       margin-right: 5em;
      
}
.topNav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(67, 67, 67);
    font-weight: 530;

}



.navFlex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.topNavCenter{
float: center;
font-weight: bold;

}

.hero{
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    height: 80vh;
         
    background-size: cover;
    background-repeat: none;
    text-align: right;

    color: rgb(197, 223, 246);
    
    
}

.hero h5{
font-family:"Metamorphous",sans-serif;
color: #ffffff;
font-weight: 500;
}

.pageTitle{
font-family: "Myth", sans-serif;
font-size: 96px;
letter-spacing: 2px;
color: #e9ad1c;
}

.aboutp{
position: relative;
top: 25%;
}

.searchItem{
    background-color: #ffffff81;
    border: none;

}

.bar{
    border-right: solid #f1f1f1

}

.search{ 
float: right;
justify-self: right;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #ffffff;
height: 55%;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;

}

.logo {
    align-self: center;
  

}

.main-wrapper{background-image: url(../assets/img/homeHeader.png) ;
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 2em;
}

.search{

    height: 50px;
}

.topNavCenter a:hover{
background-color: #ffffffa9;
border-radius: 20px;
font-weight: 400px;

}

.topNav a.active{
    color: #15d5f5;

}
h2{
color: #ffffff;
font-weight: 700;
size: 40pt;
}



h5 {
color: #e9ad1c;
font-weight: 600;
}

p{  color: #ffffff;
}

.blue{background-color: #002d68;
    }

.journeyContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 5%;

    padding-top: 0%;
    padding-bottom: 0%;
        
}



.journeyCol{
        padding: 60px 10px;
        text-align: left;

        width: 60%;

       font-weight: 300;
     
}

.heading{
padding: 90px 100px;
display: flex;
flex-direction: column;
justify-content:left;

}

.search i{

    color: #464545;
}

.cradleLeft{
display: flex;
flex-direction: column;
align-items: left;
justify-content: start;

}

.pageTitle{
display: flex;
justify-content: flex-start;;

}

.blueButton{

background-color: #15d5f5;
border-radius: 13px;
padding: 20px 60px;
color: #ffffff;
font-weight: 600;


}

.cradleCol h5{

    font-weight: 300;
    color: #15d5f5;

}

.cradleCol h2{

    color: #000000;
}

.cradleCol p{

    color: #000000;
}

.cradleCol{
      padding: 60px 10px;
        text-align: left;

        width: 60%;



}

.theCradle{

 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 2%;

    padding-top: 0%;
    padding-bottom: 5pt;
    padding-right: 5px;


}


.pastHeading{
display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.successCards{
display: flex;
flex-direction: row;



}

.successCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.successCardItem p,h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.successCardItem h4{
 color: #ffffff;
size: 16pt;
 font-weight: 600;


}

.successCardItem p{

size: 12pt;
font-weight: 300;

}

























hr.footerHr{
    border: none;
     width: 75%;
     height: 2.5px;
     background-color: #0000003a;
     margin: auto;
}


.footerContainer { display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5pt;
    gap: 40%;

                    }

.footerItem{color: #30303058;
    gap: 20pt;
    font-size: medium;

        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5pt;

}

.footerRight{color: #18181895;
  
}


